@import "./mixins.scss";

/* ---------- HOME PAGE ---------- */

#intro-container {
  @include display-flex(column, space-evenly, flex-start);
  position: absolute;
  max-width: 100%;
  height: 15rem;
  margin-top: 4%;
  margin-left: 8rem;
  font-size: 3rem;

  h6 {
    font-weight: normal;
  }
}

#pointer-container {
  position: relative;
  @include display-flex(column, space-evenly, center);
  width: 35%;
  top: calc(100vh / 2 + 5rem);
  margin-left: 50%;
  margin-bottom: 10rem;
  height: 15rem;
  @include text-frame(black);
  text-align: center;

  h4 {
    font-size: 1.3rem;
  }

  a:hover {
    color: teal;
  }
}

#tagline {
  font-size: 1.2rem;
}

/* ---------- MEDIA QUERIES ---------- */

/* ---------- tablets / small laptops ---------- */

@media only screen and (min-width:769px) and (max-width:1024px) {
  #intro-container {
    margin-top: 2%;
    margin-left: 6rem;
    padding-right: 2rem;
    font-size: 2rem;

    p {
      font-size: 1.2rem;
    }
  }

  #pointer-container {
    width: 50%;
    right: 5rem;
    height: 15rem;

    h4 {
      font-size: 1.3rem;
    }
  }
}

/** tablets & larger phones (landscape) **/

@media only screen and (min-width:481px) and (max-width:768px) {
  #intro-container {
    margin-top: 2%;
    margin-left: 6rem;
    padding-right: 2rem;
    font-size: 2rem;

    p {
      font-size: 1.1rem;
    }
  }

  #pointer-container {
    width: 50%;
    right: 5rem;
    height: 15rem;

    h4 {
      font-size: 1.1rem;
    }
  }
}
/* ---------- small phones ---------- */

@media only screen and (min-width:320px) and (max-width:480px) {
    #intro-container {
      @include display-flex(column, space-evenly, center);
      margin-top: 10%;
      margin-left: 5rem;
      padding-right: 2rem;
      font-size: 2rem;
      height: 20%;

      h3 {
        font-size: 1.4rem; 
      }

      h6 {
        font-size: 1.2rem;
      }
  
      p {
        font-size: 1rem;
        text-align: center;
      }
    }
  
    #pointer-container {
      width: 50%;
      right: 5rem;
      height: 15rem;
  
      h4 {
        font-size: 1.1rem;
      }
    }
  }
