@import "./mixins.scss";

/* ---------- NAV BAR ---------- */

#nav-container {
  display: flex;
  justify-content: center;
}

#nav-bar {
  width: 85%;
  @include display-flex(row, space-between, center);
}

#nav-right {
  width: 45%;
  @include display-flex(row, space-between, center);

  #contact-link {
    font-size: 1.3rem;
    text-decoration: underline;
  }

  .active {
    color: teal;
  }
}

/* ---------- logo ---------- */

#logo-container {
  z-index: 1;
}

#logo {
  width: 120px;

  z-index: 1;
}

#logo:hover {
  cursor: pointer;
}

/* ---------- social icons ---------- */

#social-container {
  img {
    height: 70px;
  }
}

/* ---------- MEDIA QUERIES ---------- */

/* ---------- tablets / small laptops ---------- */

@media all and (max-width: 1023px) {
  #nav-right {
    width: 60%;
  }
}

/* ---------- large phones ---------- */

@media all and (max-width: 639px) {
  #nav-bar {
    width: 70%;
  }

  #nav-right {
    @include display-flex(column, center, center);
    padding-top: 20px;
  }

  #social-container {
    padding-top: 20px;

    img {
      height: 50px;
    }
  }
}

/* ---------- small phones ---------- */

@media all and (max-width: 414px) {
  #nav-bar {
    width: 80%;
    @include display-flex(column, center, center);
  }

  #nav-right {
    @include display-flex(column, center, center);
    padding-top: 20px;
  }

  #social-container {
    padding-top: 20px;

    img {
      height: 50px;
    }
  }
}
