@import "./mixins.scss";

/* ---------- NAV BAR ---------- */

#nav-container {
  display: flex;
  justify-content: center;
}

#nav-bar {
  width: 85%;
  @include display-flex(row, space-between, center);
}


/* ---------- logo (NAV LEFT) ---------- */

#logos-container {
  z-index: 1;
}

#logo {
  width: 120px;
  z-index: 1;
}

#logo:hover {
  cursor: pointer;
}

/* ---------- social icons (NAV RIGHT) ---------- */

#social-container {
  width: 15%;
  @include display-flex(row, space-between, center);

  img {
    height: 50px;
  }

  img:hover {
    transition: ease-in 0.1s;
    transform: scale(1.1);
  }
}

/* ---------- MEDIA QUERIES ---------- */

/* ---------- tablets / small laptops ---------- */

@media only screen and (min-width:769px) and (max-width:1024px) {
  #social-container {
    margin-right: 5%;
    width: 15%;

    img {
      height: 40px;
    }
  }
}


/** tablets & larger phones (landscape) **/

@media only screen and (min-width:481px) and (max-width:768px) {
  #nav-bar {
    width: 70%;
  }

  #social-container {
    
    width: 20%;
    @include display-flex(row, space-between, center);

    img {
      height: 30px;
    } 
  }
}

/* ---------- small phones ---------- */

@media only screen and (min-width:320px) and (max-width:480px) {
  #nav-bar {
    width: 80%;
    @include display-flex(column, center, center);
  }

  #social-container {
    
    width: 30%;
    @include display-flex(row, space-between, center);

    img {
      height: 30px;
    } 
  }
}
